<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @satu.name %>
</p>

<p>
  <b>Content:</b>
  <%= @satu.content %>
</p>


<%= link_to 'Edit', edit_satu_path(@satu) %> |
<%= link_to 'Back', satus_path %>
